@charset "UTF-8";

@font-face {
    font-family: "Roboto-Bold";
    src: url(../assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background-color: #fff;
    font-family: "Roboto-Regular", sans-serif;
}

:root {
    --DarkSlateGrey: hsl(234, 29%, 20%);
    --CharcoalGrey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
    --Tomato: hsl(4, 100%, 67%);
    --erro: hsl(5, 100%, 95%);
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: var(--CharcoalGrey);
}

.main {
    display: block;
    width: 100%;
    height: 100vh;
}

.page-main {
    width: 365px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.img {
    height: 30%;
    width: 100%;
    background-image: url(../assets/images/illustration-sign-up-mobile.svg);
    background-size: cover;
    background-position: center;
    border-radius: 0 0 20px 20px;

}


h1 {
    font-size: 2.5rem;
    font-family: "Roboto-Bold", sans-serif;
}

.list>p {
    display: flex;
    align-items: self-start;
    gap: 15px;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.list>p::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    background-image: url(../assets/images/icon-list.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.submit {
    display: flex;
    flex-direction: column;
}

.labels {
    display: flex;
    justify-content: space-between;
}

label {
    font-size: 12px;
    font-family: "Roboto-Bold", sans-serif;
}

label.erroMen {
    color: var(--Tomato);
    display: none;
}



input {
    padding: 15px;
    border: 1px solid var(--Grey);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

input.erro {
    color: var(--Tomato); /* Cor do texto em caso de erro */
    border-color: var(--Tomato); /* Cor da borda em caso de erro */
    background-color: var(--erro); /* Cor de fundo em caso de erro */
}

input:focus {
    outline: none;
}

button {
    background-color: var(--DarkSlateGrey);
    color: var(--White);
    font-family: "Roboto-Bold", sans-serif;
    padding: 20px;
    border-radius: 5px;
}

.success {
    display: none;
    flex-direction: column;
    align-items: start;
    height: 100vh;
    padding: 20px;
    position: relative;
}

.success>img {
    height: 65px;
    margin-top: 40%;
}

.success>h1 {
    margin-top: 40px;
}

.success>p {
    margin-top: 30px;
}

.success>button {
    position: absolute;
    bottom: 5%;
    width: 90%;
}

.success>p>span {
    font-weight: 700;
}

@media (min-width: 768px) {
    body {
        align-items: center;
    }

    .main {
        min-width: 760px;
        max-width: 850px;
        height: 550px;
        display: flex;
        flex-direction: row-reverse;
        padding: 20px;
        border-radius: 20px;
    }

    .img {
        background-image: url(../assets/images/illustration-sign-up-desktop.svg);
        height: 100%;
        width: 45%;
        border-radius: 20px;
    }

    .page-main {
        width: 55%;
        margin: auto;
    }

    button:hover {
        background-image: linear-gradient(45deg, #FF5474, var(--Tomato), #FF683F);
        cursor: pointer;
        box-shadow: 3px 5px 20px var(--Tomato);
    }

    .success{
        width: 450px;
        height: 450px;
        border-radius:20px;
        padding: 40px;
    }
    .success>img {
        margin-top: 0;
    }
    
    .success>h1 {
        margin-top: 30px;
    }
    
    .success>p {
        margin-top: 20px;
    }
    
    .success>button {
        bottom: 10%;
        width: 80%;
    }
    
}