@media(max-width:2560px) {
    .header-desk {
        height: 50vh;
    }

    main {
        .interactive-vr {

            article {
                padding: 150px 0 0 150px;
                gap: 50px;

                h1 {
                    font-size: 5.4rem;
                }

                p {
                    font-size: 2rem;
                    letter-spacing: 5px;
                    line-height: 47px;
                }
            }
        }

        .creations {
            h1 {
                font-size: 5rem;
            }

            a {
                font-size: 2.4rem;
                margin-left: 68%;
            }

            .article-itens {
                gap: 70px;

                .item {
                    width: 512px;
                    height: 900px;
                }
            }
        }
    }
}

@media(max-width:2200px) {
    main {
        .interactive-vr {
            article {
                padding: 80px 0 0 80px;
                gap: 50px;

                h1 {
                    font-size: 4rem;
                }

                p {
                    font-size: 1.4rem;
                    letter-spacing: 5px;
                    line-height: 30px;
                }
            }
        }

        .creations {
            h1 {
                font-size: 4rem;
            }

            a {
                font-size: 2rem;
                margin-left: 68%;
            }

            .article-itens {
                gap: 40px;

                .item {
                    width: 384px;
                    height: 665px;
                }
            }
        }
    }
}

@media(max-width:1550px) {
    .header-desk {
        height: 650px;
    }

    main {
        .interactive-vr {
            article {
                padding: 80px 0 5px 80px;
                gap: 30px;

                h1 {
                    font-size: 2.8rem;
                }

                p {
                    line-height: 25px;
                    font-size: 14px;
                }
            }
        }

        .creations {
            h1 {
                font-size: 3rem;
            }

            a {
                font-size: 1.3rem;
                margin-left: 46%;
            }

            .article-itens {
                gap: 30px;

                .item {
                    width: 256px;
                    height: 450px;
                }
            }
        }
    }
}

@media(max-width: 1200px) {
    .header-desk {
        height: 450px;

        p {
            font-size: 3rem;
            width: 450px;
        }
    }

    main {

        .interactive-vr {
            article {
                padding: 40px 0 0 40px;

                h1 {
                    font-size: 2rem;
                }

                p {
                    line-height: 20px;
                    font-size: 12px;
                }
            }
        }

        .creations {
            a {
                margin-left: 0%;
            }

            .article-itens {
                flex-direction: column;

                .item {
                    width: 100%;
                    height: 240px;
                    background-size: cover;
                    background-position: center;
                }

                .item-1 {
                    background-image: url(../images/mobile/image-deep-earth.jpg);
                }

                .item-2 {
                    background-image: url(../images/mobile/image-night-arcade.jpg);
                }

                .item-3 {
                    background-image: url(../images/mobile/image-soccer-team.jpg);
                }

                .item-4 {
                    background-image: url(../images/mobile/image-grid.jpg);
                }

                .item-5 {
                    background-image: url(../images/mobile/image-from-above.jpg);
                }

                .item-6 {
                    background-image: url(../images/mobile/image-pocket-borealis.jpg);
                }

                .item-7 {
                    background-image: url(../images/mobile/image-curiosity.jpg);

                }

                .item-8 {
                    background-image: url(../images/mobile/image-fisheye.jpg);
                }
            }
        }
    }
}

@media(max-width:1024px) {
    .header-desk {
        padding: 50px;
    }

    main {
        .interactive-vr {
            flex-direction: column;

            img {
                width: 100%;
            }

            article {
                position: static;
                padding: 30px 0 0 0;

                h1 {
                    font-size: 3rem;
                    text-align: center;
                }

                p {
                    font-size: 14px;
                    text-align: center;
                }
            }
        }

        .creations {
            margin-top: 50px;
            grid-template-columns: repeat(1, 1fr);
            grid-template-areas:
                "item1"
                "item3"
                "item2";

            h1 {
                margin: auto;
            }

            a {
                margin: auto;
            }
        }
    }

    footer {
        padding: 50px;
        flex-direction: column;
        gap: 20px;

        .links {
            div {
                justify-content: start;
            }
        }
    }

}

@media(max-width:780px) {

    .header-desk {
        background-image: url(../images/mobile/image-hero.jpg);
        height: 100vh;

        .icon-nav {
            display: block;
            width: 25px;
            background-color: transparent;
            border: transparent;
        }

        .header-nav {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas:
                "item1 item1 item2"
                "item3 item3 item3";

            .logo-header {
                grid-area: item1;
                width: 130px;

            }

            button {
                margin: auto;
                grid-area: item2;
                margin-left: 50%;
            }

            nav {
                display: none;
                grid-area: item3;
            }
        }

        p {
            font-size: 4rem;
            width: 500px;
            margin-top: 40%;
        }

    }

    .header-mob {
        background-color: var(--Black);
        background-image: none;
        font-family: var(--font-primary);

        .header-nav {
            nav {
                margin-top: 30%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                a {
                    font-size: 1.5rem;

                    &:hover {
                        border-bottom: transparent;
                    }
                }
            }
        }
        .icon-nav{
            background-image: url(../images/icon-close.svg);
        }

        p {
            display: none;
        }
    }

    main {
        padding: 80px 30px;
    }

    footer {
        align-items: center;

        .nav-footer {
            align-items: center;

            nav {
                flex-direction: column;

            }
        }

        .links {
            align-items: center;
        }
    }
}

@media(max-width:580px) {
    .header-desk {
        p {
            padding: 20px;
            font-size: 2.3rem;
            width: 300px;
            margin-top: 70%;
        }
    }

    main {
        .interactive-vr {
            article {
                h1 {
                    font-size: 1.7rem;
                }

                p {
                    font-size: 12px;
                }
            }

        }

        .creations {
            h1 {
                font-size: 1.7rem;
            }
        }
    }

    footer {
        .nav-footer {
            img {
                width: 150px;
            }
        }

        p {
            font-size: 12px;
        }
    }
}

@media(max-width:355px) {
    .header-desk {
        padding: 30px;

        p {
            margin-top: 100%;
            font-size: 2rem;
            width: 260px;
        }
    }
}